.page-container {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 250px;
}

.bottom-highlight {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  line-height: 175.5%;
  font-size: 12px;
  display: contents;

  color: #6195c4;
  cursor: pointer;
}

/* customize  carousel*/
.react-multi-carousel-list {
  background: url("../../assets/images/carousel-backgroud.png") no-repeat;
  background-size: cover;
  padding: 48px 0px 75px 0px;
}

ul.react-multi-carousel-track li {
  display: flex;
  justify-content: center;
}

.react-multi-carousel-dot button {
  width: 15px !important;
  height: 15px !important;
}

.react-multi-carousel-dot button {
  background: #1f64a2 !important;
}

.react-multi-carousel-dot--active button {
  background: #6195c4 !important;
}

.react-multi-carousel-dot-list {
  bottom: 26px !important;
}
