.css-iljtu2-MuiRating-root {
  color: #fed42d !important;
}

.css-1c99szj-MuiRating-icon {
  color: #dedede !important;
}

.css-1ipqyij {
  color: #fed42d !important;
}

.css-1xh6k8t {
  color: #dedede !important;
}
